<div class="message-list">
  <div class="design-header p-2 my-2">
    <h3>{{ 'RECEIVED_MESSAGES' | translate }}</h3>
  </div>
  <ul>
    @for (msg of messages; track msg._id) {
      <li
        class="message-container"
        [ngClass]="{ 'own-message': msg.userId === 'Zt3FLWISKCJRalwJAAAB' }">

        @if (msg.userId !== 'Zt3FLWISKCJRalwJAAAB') {
          <img class="avatar" src="assets/avatars/{{ msg.userId }}.png" alt="avatar" />
        }

        <div class="message-body">
          <span class="text">{{ msg.message }}</span>
          <span class="text">{{ msg.userId }}</span>
          <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
        </div>

      </li>
    }
  </ul>
</div>
