<aside class="sidenav" [class.is-collapsed]="collapsed">
  <p-button
    [icon]="collapsed ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
    [rounded]="true"
    [text]="true"
    class="sidenav__collapse"
    (onClick)="toggleCollapse()"
    [attr.aria-expanded]="!collapsed">
  </p-button>

  <nav class="sidenav__nav" role="navigation">
    @for (item of items; track item.id) {
      <a
        class="sidenav__item"
        [routerLink]="item.routerLink || null"
        routerLinkActive="is-active">
        <i class="icon pi" [ngClass]="item.icon" aria-hidden="true"></i>
        @if (!collapsed) {
          <span class="label">{{ item.label | translate }}</span>
        }
      </a>
    }
  </nav>

  <div class="py-2 border-t">
    <ul class="p-2 animate-duration-150 overflow-hidden">
      <li>
        <a
          class="flex items-center cursor-pointer p-3 gap-2 rounded-lg hover:bg-primary-emphasis transition-colors duration-150"
          (click)="toggleTheme()"
          [attr.aria-label]="isDarkMode ? 'Light Mode aktivieren' : 'Dark Mode aktivieren'"
          [attr.title]="isDarkMode ? 'Light Mode' : 'Dark Mode'"
        >
          <i class="pi" [ngClass]="isDarkMode ? 'pi-sun' : 'pi-moon'"></i>
          @if (!collapsed) {
            <span>{{ isDarkMode ? ('SIDENAV.LIGHT' | translate) : ('SIDENAV.DARK' | translate) }}</span>
          }
        </a>
      </li>
      <li>
        <a class="flex items-center cursor-pointer p-3 gap-2 rounded-lg hover:bg-primary-emphasis transition-colors duration-150"
           (click)="showDialog()">
          <i class="pi pi-cog"></i>
          @if (!collapsed) {
            <span>{{ 'SIDENAV.SETTINGS' | translate }}</span>
          }
        </a>
      </li>
      <li>
        <a class="flex items-center cursor-pointer p-3 gap-2 rounded-lg hover:bg-primary-emphasis transition-colors duration-150">
          <i class="pi pi-sign-out"></i>
          @if (!collapsed) {
            <span>{{ 'SIDENAV.SIGN_OUT' | translate }}</span>
          }
        </a>
      </li>
    </ul>
    <a
      pStyleClass="@prev"
      enterFromClass="hidden"
      enterActiveClass="animate-slidedown"
      leaveToClass="hidden"
      leaveActiveClass="animate-slideup"
      class="flex items-center cursor-pointer p-2 gap-2"
    >
      <img src="https://fqjltiegiezfetthbags.supabase.co/storage/v1/render/image/public/block.images/blocks/avatars/avatar-amyels.png" class="w-8 h-8 rounded-full" />
      @if (!collapsed) {
        <span>{{ 'SIDENAV.USER' | translate }}</span>
        <i class="pi pi-angle-up  ml-auto"></i>
      }
    </a>
  </div>
</aside>

<p-dialog header="Settings" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem', height: '20rem'}">
  <div class="flex items-center gap-4 mb-4">
    <label for="language" class="font-semibold w-24">{{ 'SETTINGS.LANGUAGE' | translate }}</label>
    <p-select
      id="language"
      class="flex-auto"
      [options]="languages"
      [ngModel]="selectedLanguage$ | async"
      (onChange)="changeLanguage($event.value)"
      optionLabel="name"
      optionValue="code"
      [placeholder]="'SETTINGS.SELECT_LANGUAGE' | translate"
      appendTo="body"
    ></p-select>
  </div>
  <div class="flex justify-end gap-2">
    <p-button [label]="'SETTINGS.CANCEL' | translate"  severity="secondary" (click)="visible = false" />
    <p-button [label]="'SETTINGS.SAVE' | translate" (click)="visible = false" />
  </div>
</p-dialog>
