:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

:host > easychat-message-list {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

:host > easychat-message-input {
  flex: 0 0 auto;
  margin-top: 12px;
  position: relative;
}
